[2017-10-11 22:54] nunomaduro opened #9 "On testing exceptions Collision should not render exceptions"
In Laravel, we may want to test if an exception is throw correctly. Given the following routes/web.php:

[code]

And the following test:

[code]

Our application exception handler should not render an exception.

[2017-10-18 05:21] bobbybouwmann commented on #9
I think you need some kind of middleware to that, or tweak your exception handler. Not sure if this should be package specific. Just my two cents!

If I have some time left today I will look into this a bit more ;)

[2017-10-18 17:57] nunomaduro commented on #9
@bobbybouwmann Thanks fo you two cents! I may dive into this issue this weekend 😎

[2017-10-19 20:26] san4io commented on #9
I think it also shouldn't react in tests to default exceptions like: Validation, Unauthorized, Unauthenticated.

I'm writing test  and expect to get 401, of course it passes, but dunno if your listener should catch such exceptions, or maybe it would be great to have ignoredExceptions configuration:

[code]

Illuminate\Auth\AuthenticationException : Unauthenticated.

  at /var/www/vendor/laravel/fr

[2017-10-19 23:11] nunomaduro commented on #9
@san4io Thanks for the feedback and for your suggestion!

I will definitely find something this issue. I just didn't have 5 mins minutes to look into to it. I may check tomorrow!

[2017-10-22 12:49] nunomaduro commented on #9
@san4io @bobbybouwmann We all agree that, on `testing env` we only want to render APPLICATION exceptions (via collision) when the status code is 500 right?

[2017-10-22 13:59] nunomaduro commented on #9
@bobbybouwmann @san4io I was thinking about using the method `$this->shouldReport($e)` to understand if collision should render the exception on `testing` environment.

Like committed on this hot-fix branch: https://github.com/nunomaduro/collision/commit/ae9f452e64cb8e4b3a5c237068a967cb7125b057

Like that, all Laravel Internal exceptions are ignored on `testing` env by Collision. What do you guys

[2017-10-22 18:00] nunomaduro commented on #9
The version `v1.1.6` should have this problem fixed.

[2017-10-22 18:00] #9 closed

[2017-10-23 13:30] bobbybouwmann commented on #9
This looks pretty good to me! Great job on this :D

[2017-11-10 14:42] OwenMelbz opened #21 "Laravel Adapter: Don't render exception on partial artisan commands"
Hey, love the package so far :) Very helpful!

I have found one gripe which is annoying, and maybe a very edge case - but if you deem it fixable then I think it's definitely an improvement.

So if you type something like

`php artisan migrates` instead of `php artisan migrate` it throws a `CommandNotFoundException`

However artisan already handles this and gives you suggestions - the suggestions g

[2017-11-10 20:24] nunomaduro commented on #21
Hey! Thanks for using collision!

This is the behaviour of Artisan:

<img width="556" alt="screenshot 2017-11-10 21 22 15" src="https://user-images.githubusercontent.com/5457236/32677100-7c436e06-c65d-11e7-84e5-b716bfbd8fe5.png">

What do you think removing the stack trace of collision only?

[2017-11-11 23:17] OwenMelbz commented on #21
Yeah I think that’s cool, just don’t think you need the stack trace or the code snippet around the exception.

Keeping it simple :)

[2017-11-15 00:17] nunomaduro commented on #21
The Pull Request https://github.com/nunomaduro/collision/pull/23 is ready and tomorrow I will run some tests. Meanwhile if you wanna to test use this version: "nunomaduro/collision": "dev-hotfix-1.1.9"

[2017-11-15 21:15] nunomaduro commented on #21
@OwenMelbz You feature demand got merged. Do you mind of doing a `composer update nunomaduro/collision` and tell me if everything is good?

[2017-11-15 21:26] OwenMelbz commented on #21
@nunomaduro Will give it a whirl tomorrow :D

[2017-11-17 19:45] nunomaduro commented on #21
This should be good! 😉

[2017-11-20 21:32] eleftrik commented on #21
@nunomaduro Thanks for this update, I really appreciated it!

In my opinion, there is another case where exceptions shouldn't be catched by your package: when there are not enough arguments running a command.

For example, if I run `php artisan foo:bar:create` without passing a mandatory argument (let's say "projectname", in this case), I would like to see this output:

[code]
(with classic backgr

[2017-11-20 22:33] OwenMelbz commented on #21
I wonder if it’s worth making a collision config - which allows you to put an array of exceptions not to render?

[2017-11-22 14:25] nunomaduro opened #26 "PHPUnit Adapter: PHPUnit expectException is not handled"
Using the `$this->expectException(Exception::class)` method, when the exception didn't got `throw`, Collision got the following error:

[code]

[2017-11-30 13:06] driesvints opened #27 "PHPUnit listener doesn't plays well with Bugsnag"
I'm not really sure if I should report this to the Bugsnag Laravel repository or this one. I get the following stack trace when I trigger a failing PHPUnit test with the Collision listener enabled. When I disable the listener I get the normal stack trace.

*Might* be related to this issue but unsure: https://github.com/bugsnag/bugsnag-laravel/issues/263

Laravel 5.5.3
PHP 7.1.1
Collision 1.1.9
Bug

[2017-12-01 22:32] nunomaduro commented on #27
@driesvints I will check that this weekend 👍

[2017-12-04 20:31] nunomaduro commented on #27
@driesvints Please check if you have the following line on bootstrap/app.php:

[code]

On your testing, are you using methods like `withExceptionHandling` or `withoutExceptionHandling` ?

[2017-12-04 21:23] nunomaduro commented on #26
Fixed on the version `v1.1.11`.

[2017-12-04 21:23] #26 closed

[2017-12-04 21:25] nunomaduro commented on #27
@driesvints Please perform: `composer update nunomaduro/collision` and tell me the results.

[2017-12-05 10:17] driesvints commented on #27
@nunomaduro that did it! Thanks :)

[2017-12-05 10:17] #27 closed

[2017-12-05 10:44] driesvints commented on #27
@nunomaduro there's one thing I noticed. When using the listener, Collision stops PHPUnit at the first failure instead of running the remainder of tests. Is that intentional?

[2017-12-05 11:42] nunomaduro commented on #27
@driesvints Is intencional. Just like Whoops on web-development, it stops when you have mistake/or a failure.

[2017-12-05 11:46] driesvints commented on #27
@nunomaduro ok, we probably won't install the listener for PHPUnit then. When running tests, especially on a CI env, we'd still like all of the tests to run and gather enough info about which tests are failing.

[2017-12-05 11:55] nunomaduro commented on #27
Hummm! Thanks @driesvints for the feedback. I will take that in consideration for later. You may want to still use Collision for your artisan commands 🙂

[2017-12-05 11:58] driesvints commented on #27
Yep, definitely going to do that! :)

On 5 Dec 2017, 12:55 +0100, Nuno Maduro <notifications@github.com>, wrote:

[2017-12-17 20:49] nunomaduro commented on #21
@OwenMelbz Collision now ignores all exceptions that implement `Symfony\Component\Console\Exception\ExceptionInterface`. I believe this should answer your problem 👍

[2017-12-17 20:54] OwenMelbz commented on #21
👍🏼

[2017-12-17 21:12] #21 closed

[2017-12-21 02:11] sw-double opened #31 "Fatal error when phpunit test case has no methods"
This is the error
[code]

Expected output
[code]

[2017-12-22 21:58] nunomaduro commented on #31
@sw-double You problem should be fixed on the version `v1.1.18`. Do you mind of performing `composer update nunomaduro/collision` and check it?

[2017-12-26 01:07] #31 closed

[2018-01-17 16:08] alexciarlillo opened #37 "Any way to make collision respect phpunit --stop-on-error?"
I think there was a closed issue related to this. I use this feature pretty often when running the complete test suite so I can walk away, get some coffee, come back and see what a mess I made during my refactor. Just wondering if it is possible to modify the PHPUnit listener to respect this flag.

[2018-01-17 20:39] nunomaduro commented on #37
@alexciarlillo If you are using collision, collision will always makes your tests stop on failure. What do you mean exactly?

[2018-01-17 21:11] alexciarlillo commented on #37
PHPUnit has 2 command line flags: --stop-on-error and --stop-on-failure. I would like it if collision did not stop the entire test suite if I have passed the --stop-on-error flag. In that case I only want the tests to stop if an error is encountered, not a failure.

[2018-01-17 22:09] nunomaduro commented on #37
@alexciarlillo This is the problem that @driesvints have specified on the issue https://github.com/nunomaduro/collision/issues/27.

@alexciarlillo The development release `v1.1.21` should fixed that. Do you mind running some tests locally? Please perform `composer require nunomaduro/collision:dev-hotfix-1.1.21 --dev` and run some tests. 👍

[2018-01-18 22:25] nunomaduro commented on #37
@alexciarlillo Ping.

[2018-01-18 22:42] alexciarlillo commented on #37
Just got around to testing (long day). Works like a charm! Thanks

[2018-01-18 22:43] nunomaduro commented on #37
@alexciarlillo Ok. I will release this version! 👌

[2018-01-18 22:43] #37 closed

[2018-01-18 22:44] nunomaduro commented on #37
@alexciarlillo You can now update your composer to a stable version of Collision!

[2018-02-02 15:02] sebastiaanluca opened #41 "Support PHPUnit 7"
Just a head's up that PHPUnit 7 has changed the format of `TestListener::addError`, which is incompatible with the current version of this package. See https://github.com/sebastianbergmann/phpunit/blob/master/ChangeLog-7.0.md#changed.

[2018-02-02 23:03] nunomaduro commented on #41
@sebastiaanluca I will check that this weekend. Thanks!

[2018-02-06 03:13] ianrodrigues commented on #41
You can check PR #42

[2018-02-13 18:00] nunomaduro commented on #41
@ianrodrigues This PR is already merged on Collision v2. Should come out before the end of this month.

[2018-02-13 18:01] nunomaduro commented on #41
@ianrodrigues Fell free to use it already: `composer require nunomaduro/dev-release-2.0.0`.

[2018-02-18 12:30] nunomaduro commented on #41
@ianrodrigues Collision v2 is out. Enjoy! 🎉

[2018-02-18 12:30] #41 closed

[2018-02-22 13:45] luispabon opened #44 "PHPUnit: Support assert diffs"
I made an example repo:

https://github.com/luispabon/collision-diff

Run tests without: `vendor/bin/phpunit`
Run tests with: `vendor/bin/phpunit -c ./phpunit-with-collision.xml`

I can see that collision is adding it's pretty output at the very end, but it's not showing the diff in the json string asserts on the test - that's still at the original phpunit output. In this particular case (typical

[2018-04-19 20:44] gregoryalary opened #48 "Fatal Error : Return value of NunoMaduro\Collision\Writer::write() must be an instance of NunoMaduro\Collision\void"
Hey, when I run a `php artisan make:migration create...` command I end with this error :

![image](https://user-images.githubusercontent.com/20248805/39017258-0e5e71bc-4423-11e8-9a50-8e90e77a1f14.png)

Any idea on how to fix this ?

[2018-04-19 20:55] nunomaduro commented on #48
@gregoryalary What version of php are you using?

[2018-04-19 21:04] gregoryalary commented on #48
PHP 7.0.29

[2018-04-19 21:14] nunomaduro commented on #48
@gregoryalary I am sorry. But Collision don't support php versions prior to `php 7.1`. 😕

[2018-04-19 21:15] nunomaduro commented on #44
@luispabon Thanks for reporting this issue. I truly believe that Collision can improve the phpunit adapter. Give me few days to think about a roadmap on it. 👍

[2018-05-08 21:34] nunomaduro commented on #44
@luispabon Sorry for not be able to help you yet. Do you think you will be able to work on a PR on this?

[2018-05-31 11:18] sunel opened #49 "Support for Symfony Console Applications"
Great package 👏 , as the title says, any plan for symfony console?

[2018-05-31 15:31] Lloople opened #50 "Hide exception trace and code block if not in debug mode"
Using Collission with Laravel 5.6 I have the following environment variables
[code]

but Collission still shows the whole error on the exception I've just thrown

[code]

[2018-05-31 15:42] nunomaduro commented on #50
Hey @Lloople.

You just have to throw an `Symfony\Component\Console\Exception\ExceptionInterface` based exception.

[2018-05-31 15:42] #50 closed

[2018-06-05 08:02] nunomaduro commented on #49
@sunel The integration with Symfony 4 is coming real soon.

[2018-06-10 22:21] nunomaduro commented on #49
@sunel Just created https://github.com/nunomaduro/collision-adapter-symfony. Enjoy!

[2018-06-10 22:21] #49 closed

[2018-06-27 08:14] sunel commented on #49
@nunomaduro

The collision-adapter-symfony is for symfony application using bundle.

But for console like the below, how can i integrate this

https://symfony.com/doc/current/components/console.html

[2018-06-27 08:51] nunomaduro commented on #49
@sunel Just add this code `(new \NunoMaduro\Collision\Provider)->register();` on your cli file.

[2018-07-02 19:32] Alercard opened #54 "ExceptionHandler::report() mu st be an instance of Exception"
Hi,

In seeding process by console, I got this message error:

"Symfony\Component\Debug\Exception\FatalThrowableError  : Type error: Argument
 1 passed to NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler::report() mu
st be an instance of Exception, instance of Error given, called in C:\proyectos\
laravel\onyx\vendor\nwidart\laravel-modules\src\Commands\SeedCommand.php on line
 179"

I don't

[2018-07-02 21:23] Alercard commented on #54
This issue was solved in https://github.com/nWidart/laravel-modules/issues/574

[2018-07-02 21:23] #54 closed

[2019-02-01 12:21] alphametric opened #59 "PhpUnit 8 support"
The listener needs to be modified to support PHPUnit 8:

`if (class_exists(\PHPUnit\Runner\Version::class) && substr(\PHPUnit\Runner\Version::id(), 0, 2) === '7.') {`

to

`if (class_exists(\PHPUnit\Runner\Version::class) && substr(\PHPUnit\Runner\Version::id(), 0, 2) === '8.') {`

[2019-02-01 12:45] nunomaduro commented on #59
Can you do a pull request ? Ideally can you also add a test into this.
On Fri 1 Feb 2019 at 07:21, Alphametric <notifications@github.com> wrote:

[2019-02-01 16:10] alphametric commented on #59
I wouldn’t worry about it just yet. As I’ve discovered, Laravel will need to make quite a few changes to support v8.

[2019-02-01 16:22] nunomaduro commented on #59
What do you think about marking this as first good issue ?

[2019-02-01 18:00] alphametric commented on #59
It would have been, yes, but I've since made a PR for it #60

[2019-02-27 11:09] #59 closed

[2019-02-27 19:16] mfn opened #61 "Does not work with Laravel 5.8"
- Had it installed on Laravel 5.7
- Upgraded to 5.8
- outcome:
[code]

Basically, artisan doens't work:
[code]

[2019-02-27 19:27] nunomaduro commented on #61
Seems that you are using an old version of collision.

[2019-02-27 20:43] mfn commented on #61
💥 true, sorry for the noise; I was still on `^1.1` 🤷‍♀️

[2019-02-27 20:43] #61 closed

[2019-03-14 16:51] claudiofreitas opened #63 "Writer not respecting --no-ansi when displaying the editor"
When calling a Laravel Command passing `--no-ansi` flag, the method `renderEditor(Frame $frame)` in `Writer` class send the contents to the highlighter and outputs with color regardless of the flag.

Expected: When an Exception occurs inside a Command that has been called with `--no-ansi`, display everything in the terminal without any color.

Current: Everything but the editor is correctly displa

[2019-03-14 16:59] fitztrev commented on #63
Confirmed. I'll just add the steps I did to recreate:

Create a console command in `routes/console.php`:
[code]

Then run the command with the `--no-ansi` flag but still see color:
[code]

[2019-03-14 18:52] nunomaduro commented on #63
Thanks @claudiofreitas @fitztrev. Are you guys able to work on a fix to this?

[2019-03-14 18:55] fitztrev commented on #63
I can't.

[2019-03-28 08:33] claudiofreitas commented on #63
Sorry for the delay (didn't notice the notification).

No problem!
I can try, but maybe in 1 week.

[2019-06-02 23:43] Tjoosten opened #64 "PHPUNIT: Listener not found."
Hi!

I've found an issue on the phpunit listener from this package.

** Error:**

[code]
Composer.json => https://gist.github.com/Tjoosten/d66f654d2dbaa1a39295e0d0ce15207b

[2019-06-02 23:54] Tjoosten commented on #64
Already fixed: All i need was the bump to `"nunomaduro/collision": "^3.0",`
`

[2019-06-02 23:54] #64 closed

[2019-06-21 00:43] simensen opened #65 "Overriding Laravel's App\Exceptions\Handler::renderForConsole() is no longer possible"
I wanted to try creating a nicer output for `ValidationException` so I could see which validation fields and messages were detected. It looked like overriding `renderForConsole` would do what I wanted. However, the code I put in there never got called.

The code I was writing looked something like this:

![image](https://user-images.githubusercontent.com/191200/59889305-5f4e0380-9391-11e9-9ee0-0f0

[2019-09-03 10:34] webong opened #67 "feat: add ignition features on collision"
Hey @nunomaduro,

 Would it be possible to for the collision package to integrate with Flare, so one can share the public link with anybody they'll like to show their error with?

[2019-09-03 11:15] nunomaduro commented on #67
It's a great idea! I already have something locally. Waiting from @caneco the design.

[2019-09-05 13:46] caneco commented on #67
Here it is the current proposals for the _next collision_ screen.

**Error with custom solutions**

![preview-collission-next](https://user-images.githubusercontent.com/502041/64347386-c15ef200-cfeb-11e9-856c-2af1c9245c35.png)

**Error with "runnable" solutions**

![preview-collission-next-2](https://user-images.githubusercontent.com/502041/64347394-c328b580-cfeb-11e9-9edc-20e401bbc864.png)

[2019-09-05 13:59] MrRio commented on #67
Can you interactively run a fixer? 👀

[2019-09-05 14:03] riasvdv commented on #67
Ignition can show multiple possible (runnable) solutions, can this be handled in Collision as well or does it just show the first one?

[2019-09-05 14:17] MrRio commented on #67
Failing interactive Y/n prompt, could do `--fix`

[2019-09-05 20:34] webong commented on #67
I find the Y/N prompt more viable...  `--no-fix` could then be appended if user doesn't want a  solution prompt.

[2019-09-10 15:16] dillingham commented on #67
if you do solutions, maybe make it like vendor:publish:

[1] Solution One
[2] Solution Two
[3] None

Which solution?

[2019-09-15 10:15] ingen2 opened #69 "How to use in lumen?"
How to use in lumen?
What is console command (instead of ` php laravel-zero inspiring`)?

[2019-09-20 10:42] nunomaduro commented on #69
Checkout the docs: https://github.com/nunomaduro/collision#lumen-adapter.

[2019-09-24 09:07] ingen2 commented on #69
Ok, but My problem is `php laravel-zero inspiring` command
error: Could not open input file: laravel-zero

[2019-09-24 11:03] nunomaduro commented on #69
That's an example using: https://laravel-zero.com

[2019-09-24 11:03] #69 closed

[2019-09-25 06:26] ingen2 commented on #69
where is example using lumen???

[2019-11-15 08:10] michaloravec opened #70 "Update to laravel 6.0"
Hi I have problem to upgrade to laravel 6.0.

When I run composer update I get:
![image](https://user-images.githubusercontent.com/22096293/68927054-33d81500-0787-11ea-8cd2-5352ef15298e.png)

If I put this package to dont-discover like this:
![image](https://user-images.githubusercontent.com/22096293/68927197-887b9000-0787-11ea-9184-bfcf03600f06.png)

Every is OK.

On Laravel 5.8 I don't have this

[2019-11-15 08:34] nunomaduro commented on #70
@michaloravec What version of collision are you using?

[2019-11-15 08:35] michaloravec commented on #70
In composer.json I have this:
![image](https://user-images.githubusercontent.com/22096293/68928827-4fddb580-078b-11ea-9d11-023074491870.png)

[2019-11-15 08:38] nunomaduro commented on #70
Let's debug this. Perform a composer update --verbose without the dont discover stuff.

[2019-11-15 08:43] michaloravec commented on #70
![image](https://user-images.githubusercontent.com/22096293/68929215-32f5b200-078c-11ea-91b7-0425cfe479dc.png)
And before just reading other packages

[2019-11-15 08:52] michaloravec commented on #70
Full output [composer.pdf](https://github.com/nunomaduro/collision/files/3850596/composer.pdf)

[2019-11-15 10:39] nunomaduro commented on #70
Sorry I don't have a windows machine. Can't help you debug this.

Keep in mind, that collision is working correctly in fresh new laravel 6.4 applications. So I have no idea what your error could be. Sorry.

[2019-11-15 10:39] #70 closed

[2019-11-22 21:34] daom89 opened #71 "Not work with symfony/console 5"

[2019-11-22 23:35] ianrodrigues commented on #71
@daom89 Any more info?

[2019-11-23 10:38] nunomaduro commented on #71
@daom89 can you be more explicit?

[2019-11-23 14:37] daom89 commented on #71
Good morning, I'm sorry for my English, yesterday I didn't have time to explain myself. The [symfony/console](https://github.com/symfony/console/releases/tag/v5.0.0) package in version 5 solves a number of problems when displaying characters in console. I need to update this component in my laravel project, but when I try to do this composer throws the following error:

**Problem 1**
    - nunomad

[2019-11-23 15:17] ianrodrigues commented on #71
@nunomaduro was it solved at #72 ?

[2019-11-23 15:34] daom89 commented on #71
Yes

[2019-11-23 15:34] #71 closed

[2019-11-23 20:26] nunomaduro commented on #71
It's not tagged yet. It's on the works.

[2019-11-27 15:27] GrahamCampbell opened #73 "Missing branch aliases"
Could you add branch aliases, so composer knows which branches are 2.x, 3.x, and 4.x please?

[2019-11-27 16:17] nunomaduro commented on #73
What is your need? Currently the stable is `3.x` under the stable branch. And we have a branch alias for the 4.x here:

https://github.com/nunomaduro/collision/blob/77dab005bdfd5a2ca876b3a25f324e38fe9078b1/composer.json#L57

It's not stable yet.

[2019-11-27 20:05] GrahamCampbell commented on #73
There are no branch aliases. They are **only** read from the "default" branch, which is "stable" in this repo. Any config in other branches is totally ignored. There are currently no branch aliases, so v3 or v4 dev versions cannot be installed using composer without having to ask for a branch.

[2019-11-27 20:06] GrahamCampbell commented on #73
There are no branch aliases: https://github.com/nunomaduro/collision/blob/stable/composer.json.

[2019-11-27 20:06] GrahamCampbell commented on #73
PS You can always check what branch aliases packagist has picked up at https://packagist.org/packages/nunomaduro/collision.

[2019-11-27 20:07] GrahamCampbell commented on #73
(compare to https://packagist.org/packages/laravel/framework)

[2019-11-27 21:19] nunomaduro commented on #73
This statement is incorrect. Anyway, fixed here: https://github.com/nunomaduro/collision/commit/bb5d82382099c0795adc9e960f3eebebb40d65b1

[2019-11-27 22:24] GrahamCampbell commented on #73
This doesn't seem to be fixed:

<img width="313" alt="image" src="https://user-images.githubusercontent.com/2829600/69763044-dae38600-1163-11ea-87b3-13c9fbac4f3f.png">

[2019-11-27 22:24] GrahamCampbell commented on #73
No 4.x-dev.

[2019-11-27 22:25] GrahamCampbell commented on #73
Is the webhook working?

[2019-11-27 23:04] nunomaduro commented on #73
What is your end goal? If you perform `composer require collision:^4.0` you will get the branch `dev-next` branch in the same way that if you perform `composer require laravel/framework:^7.0` you will get the `dev-master` branch.

[2019-11-27 23:30] GrahamCampbell commented on #73
No you won't. That will only happen if Packagist acknowledges the alias.

[2019-11-27 23:55] GrahamCampbell commented on #73
Hmmm, something seems to be wrong with Packagist, since it's not displaying the version alias correctly. Compare the collision packagist entry with the one for laravel/framework.

Yet, the API still has the branch alias: https://repo.packagist.org/p/nunomaduro/collision%249baf696191ef08d48c30f185315ac00ee371c264ea91df3b75d03e2f0a6e8ce4.json and composer is able to resolve the version as you say.

[2019-11-27 23:57] GrahamCampbell commented on #73
Ping @Seldaek. What's going wrong here, in that composer can resolve `^4.0@dev`, but packagist's UI doesn't think 4.x-dev or 4.0.x-dev is a version?

[2019-11-28 00:01] nunomaduro commented on #73
[code]

[2019-11-28 00:02] nunomaduro commented on #73
Her i

[2019-11-28 00:10] GrahamCampbell commented on #73
Yeh, I tried this myself, and it worked:

[2019-11-28 00:11] GrahamCampbell commented on #73
What is unexplained is why the Packagist UI says there is no 4.x-dev.

[2019-11-28 00:12] GrahamCampbell commented on #73
[code]

[2019-11-28 00:13] nunomaduro commented on #73
Don't worry too much about the UI. Thanks for this.

[2019-11-28 00:13] #73 closed

[2019-11-28 00:15] GrahamCampbell commented on #73
Well, the API also didn't return the version correctly. Composer seemed to look inside the dev-* stuff for the branch aliases, in a way that it doesn't when installing laravel/framework.

Anyway, there is not an issue with this repo. The issue is with Packagist. I'm sure you've done everything right with the branch aliases.

[2019-11-28 00:17] GrahamCampbell commented on #73
http://repo.packagist.org/p/laravel/framework%24a7c2cfd6b0b4112fc8c36cbec4fffd6eb3c17cc3aafc5bca3a496a862d3dd87b.json has the 6.x-dev versions explicitly:

<img width="802" alt="image" src="https://user-images.githubusercontent.com/2829600/69767487-61a05f00-1174-11ea-901a-e64a62f93f47.png">

[2019-11-28 00:17] GrahamCampbell commented on #73
I'm not sure what this other package is though....

<img width="753" alt="image" src="https://user-images.githubusercontent.com/2829600/69767502-741a9880-1174-11ea-8772-0ef9e8e69b00.png">

[2019-11-28 09:17] Seldaek commented on #73
laravel/framework has a 6.x-dev explicitly because it has a 6.x branch.. this repo has dev-next with an alias for 4.x, which is shown at https://packagist.org/packages/nunomaduro/collision#dev-next
![image](https://user-images.githubusercontent.com/183678/69793171-38112300-11c8-11ea-94db-3226e15572fe.png) but it has no 4.x branch so that's not shown as a standalone version.

[2019-11-28 10:07] GrahamCampbell commented on #73
But laravel/framework 7.x-dev shows up.

<img width="305" alt="image" src="https://user-images.githubusercontent.com/2829600/69796966-d7cdb180-11c6-11ea-9d69-e017cdc231a2.png">

Compared to:

<img width="313" alt="image" src="https://user-images.githubusercontent.com/2829600/69797029-efa53580-11c6-11ea-8063-37a9caa563ed.png">

[2019-11-29 15:42] Seldaek commented on #73
true, that looks like a bug

[2019-11-29 17:56] nunomaduro commented on #73
@GrahamCampbell we both were right after all. ☺️

[2019-12-07 21:27] Seldaek commented on #73
Fixed now

[2019-12-07 22:30] GrahamCampbell commented on #73
@Seldaek Nice. 👍

[2019-12-07 22:30] GrahamCampbell commented on #73
FYI https://github.com/composer/packagist/commit/ce58c1d48f94334548e2ffd935d8db200e0212b7

[2019-12-30 11:21] GrahamCampbell opened #77 "Which branch is v4?"
laravel/laravel's develop branch depends on collision v4. Where is it? ;)

[2019-12-30 11:25] GrahamCampbell commented on #77
Found it again. Sorry! It's so confusing having a master branch that is not the development branch.

[2019-12-30 11:25] #77 closed

[2020-01-02 21:01] nunomaduro commented on #44
Done on the `next` branch.

[2020-01-02 21:01] #44 closed

[2020-01-02 21:01] nunomaduro commented on #67
Done on the `next` branch.

[2020-01-02 21:01] #67 closed

[2020-01-02 21:47] nunomaduro commented on #63
@claudiofreitas Can you still work on this? The next version is on the `next` branch.

[2020-01-04 13:24] claudiofreitas commented on #63
@nunomaduro Hi Nuno! I wanted to be of some help, but I won't lie to myself (and others here) again. I don't think I will be able to work on this right now. I tried last time but got blocked and felt embarrassed to ask for help. I'm sorry.

[2020-01-04 15:18] nunomaduro commented on #63
No worries. It's fine.

[2020-01-05 21:43] mbadolato opened #80 "Support symfony/console ^5.0"
Can you release a new tag with a change for allowing for `symfony/console ~2.8|~3.3|~4.0|~5.0` in composer.json?

[2020-01-05 22:10] nunomaduro commented on #80
It's under works: https://github.com/nunomaduro/collision/tree/next.

You can already try it out using `composer require nunomaduro/collision:"^4.0" --dev`. But is not stable yet.

[2020-01-05 22:10] #80 closed

[2020-01-06 17:17] luispabon commented on #44
Thank you very much :+1:

[2020-01-23 21:51] Nothing-Works opened #83 "latest version does not seem to work with Laravel 6.x"
Hi I am aware of this issue #70 but for some reason, I still can not use the latest version for laravel 6.x

Here are the steps to reproduce,

1. `laravel new test` (`Laravel Framework 6.12.0`)

2. `composer require nunomaduro/collision --dev`
![Capture](https://user-images.githubusercontent.com/18606648/73026930-4bbeca00-3e97-11ea-9847-5d90f07e09e1.PNG)
Am I doing somethin wrong? if anyone could

[2020-01-23 22:22] nunomaduro commented on #83
It's on propose. This new version is exclusively for Laravel ^7

[2020-01-23 22:22] #83 closed, assigned to nobody

[2020-01-30 19:29] tobeycodes commented on #80
FYI @nunomaduro I can't upgrade to v4 because of this constraint

`laravel/framework              v6.13.1  requires  symfony/console (^4.3.4)`

[2020-02-07 13:50] zavre-c commented on #65
Any Update ??

[2020-02-07 14:04] nunomaduro commented on #65
@zavre-c I am afraid we don't have plans of offering a workaround on this.

[2020-02-07 14:04] #65 closed

[2020-02-26 21:47] jrd-lewis opened #90 "TestCommand not respecting output colors"
OS: Windows 10 Build 18363.657
Windows Terminal (beta): 0.9.433.0
Laravel Version: 7.0-dev

How to reproduce:
- Run `php artisan test`
- The output doesn't include the highlighting from this package's printer class.
- Note: when I tried using `PHPUnit\TextUI\ResultPrinter` in the printer parameter for the artisan command, the colors aren't respected either.
- With the printer class from this packa

[2020-02-26 21:49] nunomaduro commented on #90
Can you quick use the Laravel Dusk test command to see if you have the same problems?

[2020-02-26 21:52] nunomaduro commented on #90
Can you send me the screenshot of the output?

[2020-02-26 21:59] jrd-lewis commented on #90
This is the output from Dusk:
![Dusk-Test](https://user-images.githubusercontent.com/17649602/75394782-ece9d780-58be-11ea-961e-6905e03ec3e6.png)

[2020-02-26 22:27] nunomaduro commented on #90
Also no colours?

[2020-02-26 22:30] jrd-lewis commented on #90
This is the output from `php artisan test`:

![Artisan-Test](https://user-images.githubusercontent.com/17649602/75394575-6a611800-58be-11ea-835b-b683fcec44f4.png)

And, this is the output from `vendor\bin\phpunit`:
![PHPUnit-Test](https://user-images.githubusercontent.com/17649602/75394073-608ae500-58bd-11ea-86bb-b2186dc8d4c0.png)

[2020-02-26 22:33] nunomaduro commented on #90
You can pass the option `--without-tty`?

[2020-02-26 22:36] jrd-lewis commented on #90
I can pass that option, and I updated the screenshot in my last comment to reflect that.

[2020-02-27 00:27] nunomaduro commented on #90
@jrd-lewis Humm. I will check this tomorrow.

[2020-03-03 17:01] gaejabong opened #92 "Test command refreshes all migrations"
When I run `php artisan test`, this refreshes all database migrations. I set memory database in my phpunit.xml like below.

[code]

I also use `RefreshDatabase` trait in my TestCase.php

[code]

Is this a normal behavior? or Do I have an option for using memory database?

[2020-03-03 17:07] nunomaduro commented on #92
On it.

[2020-03-03 18:25] nunomaduro commented on #92
@jdssem Thanks for catching this bug. Can you test again with Collision `v4.1.2`?

[2020-03-03 19:01] nunomaduro commented on #92
The version `v4.1.2` should fix this problem.

[2020-03-03 19:01] #92 closed, assigned to nobody

[2020-03-03 19:02] nunomaduro commented on #63
No plans on fixing this.

[2020-03-03 19:02] #63 closed

[2020-03-04 02:10] gaejabong commented on #92
It works perfectly on v4.1.2. Many thanks!

[2020-03-04 11:36] andresayej opened #95 "Problem with Telescope installed and enabled"
- Laravel Version: 7.0.2
- PHP Version: 7.4.3 (but not relevant)
- Database Driver & Version: not relevant
- nunomaduro/collision: 4.1.2
- laravel/telescope: 3.1.1
- phpunit/phpunit: 8.5.2

### Description:
As requested by @nunomaduro on Twitter I'm describing a strange behavior when running the `php artisan test` command if Telescope is installed and enabled (Telescope is enabled by default after

[2020-03-04 11:59] nunomaduro commented on #95
Can you try with the latest `dev-master`?

[2020-03-04 12:05] andresayej commented on #95
The problem is still present with the `dev-stable` branch

[2020-03-04 12:12] nunomaduro commented on #95
@andresayej Can you run `./vendor/bin/phpunit` instead of phpunit? I have the problem in both `./vendor/bin/phpunit` and `php artisan test`

Seems that multiple have this problem too:

- https://github.com/laravel/telescope/issues/804
- etc

[2020-03-04 12:13] andresayej commented on #95
Yes when running `./vendor/bin/phpunit` the problem is there.

[2020-03-04 12:16] nunomaduro commented on #95
Means that you have `TELESCOPE_ENABLED=false` in your global env.

So there is no problem with collision. Thanks for reporting though.

[2020-03-04 12:16] #95 closed, assigned to nobody

[2020-03-04 16:06] owenvoke commented on #90
Interesting, I get this with both PowerShell 5 and PowerShell Core, but with CMD the colours show as expected (all using Windows Terminal). 🤔

If I run PowerShell 5/Core through ANSICON (using `ansicon powershell`), it displays the colours as expected.

<details>
<summary>Preview output image</summary>

![Output preview](https://image.prntscr.com/image/sYgp08oZTd_GpNeSujh2jg.png)

</details>

[2020-03-05 21:56] roni-estein opened #97 "Adding collision to a package laravel package"
I have a simple package that I'm adding tests to for the first time, I enjoy working with collision in laravel so I was hoping I could also add it to a laravel package.

So far I've installed collision:

[code]

I've edited the I also have phpunit 9.0.1, I actually meant to install 8.5.1 so I could run tests from inside phpstorm.
if I run tests from the command line now, I end up with the followin

[2020-03-06 09:36] matijakovacevic commented on #97
Yes, it should be fixed in the docs @nunomaduro

It's `NunoMaduro\Collision\Adapters\Phpunit\Listener` instead of
`NunoMaduro\Collision\Adapters\Phpunit\Printer`

[2020-03-06 12:41] nunomaduro commented on #97
You are using a old version of collision.

[2020-03-07 19:08] ShawnCZek opened #98 "Stop on failure gets ignored"
## Environment

Collision version: v4.1.3
Laravel version: v7.0.6
PHPUnit version: v8.5.1

## Description

Running the command `php artisan test` stops on the first failure even when all `stopOn` settings are set to `false`.

This seems to be an issue with the [`Style::writeError()`](https://github.com/nunomaduro/collision/blob/f7505183009bebd7636f3efded2b177a8827b2a3/src/Adapters/Phpunit/Style.ph

[2020-03-07 21:52] nunomaduro commented on #98
That's an intentional behaviour. `The Artisan test runner provides more information regarding the test that is currently running and will automatically stop on the first test failure:`. https://laravel.com/docs/7.x/testing#artisan-test-runner

[2020-03-07 21:52] #98 closed, assigned to nobody

[2020-03-09 17:43] roni-estein commented on #97
Got it sorted, sorry forgot to close this.

[2020-03-09 17:43] #97 closed, assigned to nobody

[2020-03-10 05:50] robsontenorio opened #99 "Less verbose printer"
It would be nice to have a less verbose option. Just that "dots", but keep  the "beauty error handler".

[2020-03-12 12:41] breadthe opened #100 "Improve output formatting"
As discussed on Twitter, I think it would be useful to display diff results returned by the `php artisan test` command more in line with those from `phpunit`, i.e. improved formatting with line breaks and indentation.

A particular example is the `assertDatabaseHas` helper which produces the following sample output when it fails to locate a record:

<img width="709" alt="2020-03-12-phpunit-assert-

[2020-03-12 13:05] nunomaduro commented on #100
@breadthe Can you try to work in a pull request to fix this?

[2020-03-16 15:29] tobyryuk commented on #98
Is there a specific reason for this? We have quite a big codebase with tests and are running them quite frequently when refactoring to see how much changes break.

[2020-03-20 00:24] breadthe commented on #100
@nunomaduro Apologies Nuno, I didn't notice your reply.
I'm afraid I can't commit to working on it - I simply don't have the bandwidth right now but if my schedule clears up at some point, I'll circle back to it and try to help.

[2020-03-21 17:04] apoca opened #101 "Tests stop without any information"
Hi @nunomaduro, I have started using your repo `php artisan test`, but I am facing a problem after some while tests stop without any error...

I have around 700 tests. And I am using PHPUnit and it takes roughly Time: 7.57 minutes, Memory: 317.00 MB.

My actual command: `php -d memory_limit=512M vendor/bin/phpunit --bootstrap vendor/autoload.php --testdox tests`

With your: `PHP artisan test` I go

[2020-03-21 17:27] nunomaduro commented on #101
Can you try with an increased memory limit?

[2020-03-21 19:15] apoca commented on #101
@nunomaduro something like this: `php -d memory_limit=2000M artisan test` ?

Yes, I did it and stopped.

More info phpunit:

[code]

[2020-03-21 19:32] nunomaduro commented on #101
You need to give me more info here.

If you filter by that test only, also stops?

[2020-03-21 20:58] apoca commented on #101
No. I think that is something about memory leak, but when I execute for example:

`php -d memory_limit=512M vendor/bin/phpunit --bootstrap vendor/autoload.php --testdox tests`

works as expected.

<img width="1276" alt="Screenshot 2020-03-21 at 20 54 02" src="https://user-images.githubusercontent.com/5594091/77236433-54413180-6bb6-11ea-81cb-c6d671acc089.png">

[2020-03-21 21:00] nunomaduro commented on #101
Can you try to debug this?

[2020-03-21 21:27] apoca commented on #101
I have solved that issue. It was a docker caching... After restarting is working locally with memory_limit = -1 in PHP.ini. Thanks @nunomaduro :)

[2020-03-21 21:27] #101 closed, assigned to nobody

[2020-03-26 02:41] mikeerickson opened #102 "How to use listener version"
I used to use our own result-printer alongside listener for uber beautiful output.

However, just updated to Laravel 7 and the listener no longer works?

Is there still a way to use the Collision listener and not as printerClass?

[2020-03-26 09:11] nunomaduro commented on #102
You just want the error output with your own result-printer?

[2020-03-26 23:14] mikeerickson commented on #102
Yes, that is correct. When it was a listener option the output combined with our printer, it looked better

[2020-03-31 20:28] m50 opened #104 "A couple issues with the PHPUnit printer"
So there are two main issues I have with the PHPUnit printer:

1. If you pass `--coverage-text` into phpunit, it doesn't give the coverage information.
2. If you `dump()` inside your tests, the last couple lines of the dump get stripped out, because of how you are replacing output in the console.

<details>
  <summary>Images!</summary>

  1.
  ![image](https://user-images.githubusercontent.com/357

[2020-03-31 21:56] nunomaduro commented on #104
That mainly related to the fact that we use symfony's output sections for providing some console animations. And they don't behave well with long outputs.

Honestly, I am using collision for pest, so I am thinking about remove those animations.

[2020-04-01 03:56] m50 commented on #104
I think doing it the way `--testdox` does it, where it prints them out as they are finished may be a good compromise, instead of replacing the test one by one, then pushing them all up at once.

[2020-04-01 09:52] nunomaduro commented on #104
@m50 Agree. Even thought the code may be a little messy, do you think you are able to work on it?

[2020-04-01 14:52] m50 commented on #104
@nunomaduro  Not this week, but I can start to take a look next week.

[2020-04-03 18:11] it-can opened #105 "deprecated packes"
getting this error in composer now...

[code]

<img width="1285" alt="Schermafbeelding 2020-04-03 om 20 11 27" src="https://user-images.githubusercontent.com/644288/78391776-55775300-75e7-11ea-82b0-ca5c0f238140.png">

[2020-04-04 20:22] nunomaduro commented on #105
Fixed on the most recent version `v4.2.0`.

The warning now comes from other package.

[2020-04-04 20:22] #105 closed, assigned to nobody

[2020-04-06 07:37] thisismhp opened #108 "deprecated packes for version 3.0.1"
i'm use laravel 6.* and collision v4.2 not support this!
please fix this issue for v3 branch.

[2020-04-06 11:17] nunomaduro commented on #108
We don't support Collision v3.x anymore, or Laravel v6.x. Fell free to fork the project or remove collision for your dev-dependencies.

[2020-04-06 11:17] #108 closed, assigned to nobody

[2020-04-06 19:29] #104 closed, assigned to nobody

[2020-04-09 07:14] emilas44 opened #111 "Warning about abandoned package"
After composer update I get a warning about deprecated packages

[code]

[2020-04-09 08:00] PHPGuus commented on #111
I'm working on a PR for this

[2020-04-09 08:10] PHPGuus commented on #111
Actually, this is an old(er) version of collision that is causing the problem (v3.0.1). @nunomaduro Do you want a PR for 3.0.1 to fix this, or would you rather have laravel upgrade a ^4.x version?

[2020-04-09 09:10] nunomaduro commented on #111
Can you check if that problem comes **only** from Collision `3.x`?

[2020-04-09 10:57] PHPGuus commented on #111
You're right... It is on 3.0.1, 4.0.x, and 4.1.x.
How to proceed?

[2020-04-09 14:55] PHPGuus commented on #111
Do you want a PR against each branch, or what would you like me to do?

[2020-04-09 15:01] nunomaduro commented on #111
This question was about: is laravel/tinker also fixing this problem in their side for the 6.x series? Because they also have issue.

[2020-04-09 17:26] emilas44 commented on #111
Oh boy, I've wreaked havoc with this, haven't I...

[2020-04-09 17:50] PHPGuus commented on #111
It might, but those branches I mentioned rely directly on this package that is abandoned, so I don't really see how laravel/tinker could help with that...

[2020-04-10 09:30] PHPGuus commented on #111
PR against each branch?

[2020-04-10 19:08] devNoiseConsulting commented on #111
I was able to update Laravel/Tinker to 2.4 on my Laravel 6.x project. Would changing the Laravel dependency to be "^6.0|^7.0" work? Or are there breaking changes that prevent the 4.x version from working with Laravel 6?

[2020-04-15 16:26] dmason30 opened #113 "Running with stderr causes exception"
**Description**
Running with the `--stderr` arg causes this below exception:

[code]
Not sure if you want to do anything about it since I only encountered this after  upgrading to v4 and using the new `Printer` class. I have removed the `--stderr`  argument and it works like a charm  😄

**Environment**
PHP Version: 7.4
PHPUnit Version: 9.1.1
Package Version: 4.2.0

[2020-04-16 06:24] zgosalvez commented on #98
@tobyryuk I suggest just using phpunit directly for that use case.

[2020-04-18 17:59] nunomaduro commented on #111
Sorry, I have no plans on fixed this on the 3.x branch.

[2020-04-18 17:59] #111 closed, assigned to nobody

[2020-04-19 20:27] peterfox opened #115 "Dump output from tests is not fully displayed in console."
Example test:

[code]

Only a certain number of lines from the dump output are shown. While not a huge world shaking bug it makes switching from using PHPUnit directly a bit of a pain as something dumping the output is required for debugging a test.

[2020-04-19 20:56] nunomaduro commented on #115
That's is fixed on the `dev-stable`. Can you try out?

[2020-04-20 08:44] peterfox commented on #115
@nunomaduro sure I'll try and fit in a moment to check it's not an issue anymore

[2020-04-20 11:47] peterfox commented on #115
I initially had trouble with `dev-stable` but was able to find commit [16a2fc3af7b9ce38c64e3e651b94abc85ab17701](https://github.com/nunomaduro/collision/commit/93aaef5c17efa7276383b65ebf4f84e9bc87a8ba) worked fine and fixes the error

[2020-04-20 12:08] nunomaduro commented on #115
If you perform `composer update nunomaduro/collision:"dev-stable"` you have troubles?

[2020-04-20 12:29] peterfox commented on #115
I've no problems installing, but when running the head of `dev-stable` I get the following error:
[code]

My composer file for clarification:
[code]

[2020-04-20 13:20] nunomaduro commented on #115
Ups, the `dev-stable` only works with phpunit 9.

[2020-04-20 13:50] peterfox commented on #115
Ok, had a feeling it might be something like that. Working fine for me now, thank you.

[2020-04-20 13:50] #115 closed, assigned to nobody

[2020-04-20 13:52] nunomaduro commented on #115
No problem. Keep in mind that the `dev-stable` contains the Collision 5 work. It may change a little bit things in the future.

[2020-04-24 16:23] ZBrettonYe commented on #111
The problem is 4.x branch require `symfony/console": "^5.0`.
My laravel framework is 5.8.x, which require `symfony/console": "^4.2`

The end, I was forced to stay at 3.x branch and watch the warning happen o(╥﹏╥)o
or I update my laravel

[2020-04-28 15:19] johanvanhelden commented on #102
I would also prefer an error-only listener.

[2020-04-29 11:51] baldarn commented on #37
Hi,
it seems that on laravel 7.x this issues happens again.

see https://github.com/laravel/framework/issues/31914

[2020-04-29 11:54] nunomaduro commented on #37
@baldarn What do you mean?

[2020-04-29 11:57] baldarn commented on #37
running
[code]
with stopOnFailure="false" in the phpunit.xml file stop the execution, but it shouldn't

can this be a bug of collision?

[2020-04-29 12:04] nunomaduro commented on #37
It's on purpose. We don't support that option yet

[2020-05-05 20:34] finagin opened #116 "No application encryption key has been specified."
* `v4.2.0` - when run `php artisan test` command crush with `No application encryption key has been specified.`
* `v4.1.3` - when run `php artisan test` command crush with `No application encryption key has been specified.`
* `v4.1.2` - all right

[2020-05-06 08:12] nunomaduro commented on #116
Have you generated the key?

[2020-05-06 08:55] finagin commented on #116
In the `.env.testing` file that is in git there is a section `APP_KEY=`

[code]

[2020-05-06 10:49] nunomaduro commented on #116
That APP_Key needs to have a value.

[2020-05-06 10:49] #116 closed, assigned to nobody

[2020-05-06 10:50] nunomaduro commented on #99
Ideas on this?

[2020-05-06 10:56] finagin commented on #116
that is, before it was generated by the `test` command, and now I need to keep it in git?

[2020-05-07 14:37] robsontenorio commented on #99
Just for clarifying.

Allow to use this output, but keep the collision error hanlder.

![image](https://user-images.githubusercontent.com/118955/81307178-c383bf80-9056-11ea-9ae7-f2c05987b644.png)

[2020-05-07 14:42] nunomaduro commented on #99
I think we do better than that.

[2020-05-08 21:39] RodrigoGalter opened #117 "Upgrade nunomaduro/collision to latest version"
This package is broken in laravel 6.1

Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined method NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler::error()

[2020-05-08 21:40] RodrigoGalter commented on #117
ops, package wrong

sry

[2020-05-08 21:42] #117 closed, assigned to nobody

[2020-05-09 17:32] trevorpan commented on #49
Hello @nunomaduro,

I've searched for ` (new \NunoMaduro\Collision\Provider)->register();` all over the web; there are many sites that have the installation steps but they reference the main docs page - which does not have a file noted.

May I please know, what is the cli file you are referencing? So - in a Laravel 7 app where would this file be found?

Thank you much,
Trevor

[2020-05-09 22:36] BSN4 opened #119 "bug in writer"
[code]

in laravel-zero ( new project ) errors are missed up

[2020-05-09 23:23] nunomaduro commented on #119
Can you create that issue on the laravel zero repo?

[2020-05-09 23:23] #119 closed, assigned to nobody

[2020-05-11 13:47] #100 closed, assigned to nobody

[2020-05-11 13:47] nunomaduro commented on #100
Fell free to contribute with a solution for this.

[2020-05-11 13:48] nunomaduro commented on #102
Duplicate of https://github.com/nunomaduro/collision/issues/99

[2020-05-11 13:48] #102 closed, assigned to nobody

[2020-05-11 13:48] nunomaduro commented on #90
You still face this issue?

[2020-05-11 13:49] nunomaduro commented on #113
I think the collision printer don't support that issue, feel free to pull request that feature.

[2020-05-11 13:49] #113 closed, assigned to nobody

[2020-05-11 14:22] owenvoke commented on #90
I still do when I use Windows, but since I've been working from home I luckily don't have to use Windows. 🥳

[2020-05-12 16:03] jrd-lewis commented on #90
I'm also still experiencing this on Windows.

[2020-05-12 16:57] nunomaduro commented on #90
@owenvoke @jrd-lewis do you think there is a solution for this? If yes, can you try to develop a fix?

[2020-05-13 08:12] owenvoke commented on #90
I'll have a look, but I haven't been able to find much. 😕

[2020-05-19 15:02] m50 commented on #90
I am having a similar issue:

I have a composer script ("test") that runs `php ./vendor/bin/phpunit --colors=always`, and with Collision, it outputs no color, but if I run `composer test -- --testdox` it displays color as expected.

(I had to blank out a lot of stuff, because this is in a closed-source product, but you should be able to tell regardless the color issues)

<img width="795" alt="Scre

[2020-05-19 21:22] nunomaduro commented on #90
@m50 Can you try collision 5?

[2020-05-19 22:49] Arkanius opened #120 "Collision printer class stoping on failure"
Hello,

I just bumped my app to **Laravel 7** and started using the **PHPUnit 9**. When I run my tests without the printer class they don't stop at first failure; however, when I try to set the printer class at phpunit.xml they stop at first failure.

Is there any way to configure this?

**With printerClass:**

![image](https://user-images.githubusercontent.com/6404401/82385500-a1038600-9a08-11ea-

[2020-05-19 22:52] nunomaduro commented on #120
On Collision 4 you can't do that.

Try Collision 5 and tell me how it goes.

[2020-05-19 22:52] #120 closed, assigned to nobody

[2020-05-19 23:00] Arkanius commented on #120
Thanks, worked well.

Do you think this deserve a note in the docs? I can handle this if you wish

[2020-05-19 23:08] nunomaduro commented on #120
Collision 5 is beta 👍

Let's wait for the stable release.

[2020-05-20 20:49] jrd-lewis commented on #90
@nunomaduro I just tried the collision 5 beta 1 release and it is showing the colors properly for me on Windows.

[2020-05-20 20:57] m50 commented on #90
I'm sorry, swamped right now, and not able to test yet. Hopefully this weekend I can validate as well.

[2020-05-20 21:02] nunomaduro commented on #90
@m50 Seems to be fixed in Collision 5 beta 1. Let me know if it works for you too.

[2020-05-20 21:02] #90 closed, assigned to nobody

[2020-05-22 02:19] robsontenorio commented on #99
Sometimes you just want a overview of tests (with "dots" report), but also a nice error handler output.

Once collision is a "printer" i really don't know if it would be possible to configure through params. But if so, i am willing to submit a PR.

[2020-05-22 02:28] robsontenorio opened #121 "Some "lag" on v5-BETA"
After upgrading to v5, just noticed some "lag" between test cases, what increases total time of tests. On previous version total time were very similar.

Without collision (2.5 seconds)

![image](https://user-images.githubusercontent.com/118955/82624868-1498c500-9bba-11ea-8745-95c472952006.png)

With collision (3.93)

![image](https://user-images.githubusercontent.com/118955/82624930-35611a80-9bba

[2020-05-22 08:20] nunomaduro commented on #121
Yeah, we have a sleep to make animations a little bit better: https://github.com/nunomaduro/collision/blob/fef86518b5bab6373eb282068bfa4ce25bb723d1/src/Adapters/Phpunit/Style.php#L64.

[2020-05-22 10:52] robsontenorio commented on #121
Just noticed this “lag” is bigger with larger phpunit datasets.

[2020-06-01 09:00] zubairniazi commented on #70
Hi, @nunomaduro

Is there a way to prevent warnings in the Laravel 6.* project? I installed a new Laravel 6 project and after running **composer install**, I got below output:

[code]

It seems the latest version (v4.2) got the fix but not compatible with the Laravel 6. I hope you have some solution.

[2020-06-01 09:02] nunomaduro commented on #70
Honestly just ignore that warning. It means nothing relevant.

[2020-06-01 09:14] zubairniazi commented on #70
Thank you for your quick response. :)
My concern is security; that's why I posted the issue and wants my composer to run sweetly. Am I safe from these in terms of security threats?

[2020-06-01 09:20] nunomaduro commented on #70
Those are dev dependencies, so those dependencies don't end up in production.

TL; DR: is safe.

[2020-06-07 17:36] alexmartinfr opened #123 "PHPUnit Adapter / Accessibility: low contrast on light terminal"
**Problem:**
When using a terminal with light color preset*, some contrast issues appears.

- The test suite run summary is using bright ANSI colors, which are hard / impossible to read on a white background:

<img width="384" alt="Capture d’écran 2020-06-07 à 14 42 41" src="https://user-images.githubusercontent.com/19224681/83972282-8d4c9080-a8df-11ea-82d4-054efe4f9e4c.png">

**Suggested soluti

[2020-06-22 00:12] nunomaduro commented on #99
@AlexMartinFR is working on that.

[2020-06-22 10:57] nunomaduro opened #131 "Missing support PHPUnit 8"
As mentioned https://github.com/laravel/laravel/pull/5324#issuecomment-647395330, collision 5 should support PHPUnit 8.

[2020-06-24 15:01] Christophvh commented on #121
Would be nice to have at least the option to disable this, slowing down tests on purpose is really annoying. It also costs money. Github actions for example charges based on minutes so this makes developers using your package pay more. We have some projects with 900+ tests I rather run faster than having pretty animations.

[2020-06-24 20:06] nunomaduro commented on #121
@AlexMartinFR Are you still working on the `compact` thing?

[2020-06-25 09:35] alexmartinfr commented on #121
Yes, but I haven't figured the way to pass a command or a parameter from Pest to Collision yet.

Once we have that it would be easy to remove that `usleep` for this rendering mode.

[2020-06-25 11:33] Christophvh commented on #121
if you keep it. There should be a giant warning in the docs to just use PHPUnit for ci-tools like travis/github actions or if you are struggling with speed.

[2020-06-29 12:56] ragulka opened #132 "Exception thrown with Laravel 7 when running php artisan test"
After following the installation guide, I was trying to run my tests with `php artisan test`. This triggered the following error:

[code]

At the moment of writing this report, Laravel 8 is not yet released, so I cannot simply update Laravel.
I _can_ run my tests with `./vendor/bin/pest` but it would be great if I can just use the built-in artisan commands.

[2020-06-29 13:03] Im-TroN opened #133 "Exception thrown while installing collition 5.0 in laravel 6"
composer require nunomaduro/collision:"^5.0" --dev --update-with-dependencies
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.
  Problem 1
    - Conclusion: don't install nunomaduro/collision v5.0.0-BETA4
    - Conclusion: don't install nun

[2020-06-29 18:03] nunomaduro commented on #133
Collision is not compatible with projects that use Symfony `4.x` components.

[2020-06-29 18:03] #133 closed, assigned to nobody

[2020-06-29 18:06] nunomaduro commented on #131
https://github.com/nunomaduro/collision/blob/805929cb4bb6b24ef56a28a4121eb1336803effd/src/Adapters/Laravel/Commands/TestCommand.php#L66

[2020-06-29 18:06] #131 closed, assigned to nobody

[2020-06-29 18:07] nunomaduro commented on #132
Yeah - no plans for having Collision supporting two versions of `dotenv` dependency.

You can run `./vendor/bin/pest` directly.

[2020-06-29 18:07] #132 closed, assigned to nobody

[2020-07-04 15:46] mikeerickson commented on #102
@nunomaduro Have you considered adding this?

[2020-07-04 16:39] rl-zembrowski commented on #99
@mikeerickson does a great job with [phpunit-pretty-result-printer](https://github.com/mikeerickson/phpunit-pretty-result-printer). The output is very minimalistic.

The only thing missing there is an integration with Collision. It would be a perfect match to get phpunit-pretty-result-printer with your collision error handler, Nuno.

Any chances to get back the Listener which was removed in v4.1?

[2020-07-04 16:43] zembrowski commented on #99
@mikeerickson does a great job with [phpunit-pretty-result-printer](https://github.com/mikeerickson/phpunit-pretty-result-printer). The output is very minimalistic.

The only thing missing there is an integration with Collision. It would be a perfect match to get phpunit-pretty-result-printer with your collision error handler, Nuno.

Any chances to get back the Listener which was removed in v4.1?

[2020-07-14 08:09] mattalberon opened #135 "Ignore files in a directory"
I would like to ignore specified directories from the output.

For example, in Laravel the TestResponse class may be extended to give more assertion methods - but I do not want to view this file in the output.

It looks as if the list in this method would fulfil the requirements:

https://github.com/nunomaduro/collision/blob/1e43bcab2ce79146b9852ca81a25ae2d1d21986b/tests/Unit/WriterTest.php#L126

[2020-07-14 16:35] nunomaduro commented on #135
Not yet, fell free to add that feature.

[2020-07-14 16:35] #135 closed, assigned to nobody

[2020-07-23 13:03] AegirLeet opened #141 "CollisionServiceProvider::register() should not try to instantiate ExceptionHandler"
https://github.com/nunomaduro/collision/blob/834a201a4866a70a06eeef29730c7ba1c9da4b2e/src/Adapters/Laravel/CollisionServiceProvider.php#L63

If the application's implementation of `ExceptionHandler` has dependencies (in its constructor) provided by another Service Provider, instantiation of `ExceptionHandler` may fail (depending on Service Provider load order). It's generally a very bad idea to do

[2020-07-23 14:15] nunomaduro commented on #141
Can you make a pull request to fix this?

[2020-07-23 14:29] AegirLeet commented on #141
Sure, I'll submit a PR.

[2020-07-28 12:02] sebdesign commented on #115
I have the same issue, when I'm dumping JSON responses, e.g. for validation errors:

[code]

I was expecting to see the validation `errors` but they are cut off.

I'm using Laravel v7.21.0 and Colission v4.2.0 on PHP v7.3.14.

[2020-08-12 06:32] ragulka opened #143 "ShouldNotHappen Exception thrown"
I'm getting a the following error when running my tests with `vendor/bin/pest` inside a Laravel 7.25.0 project:

[code]

I'm using PEST 0.2.4 and PHPUnit 9.2

Any other details I can provide to help with this issue?

[2020-08-12 08:25] nunomaduro commented on #143
It's good. Thanks!

[2020-08-17 13:39] Levivb commented on #141
I second this.

Currently in the process of upgrading a multi modulair application to Laravel 6 (and 7) (long overdue, I know)

In Laravel 6 a lot of Service Providers received the `DeferrableProvider` interface. Along with the `MailServiceProvider`, causing the 'mailer' class to be unavailable during boot. The `services` file containing the mapping from `provides` to `service provider` is read/cr

[2020-08-24 14:26] lucavallin opened #144 "PHPUnit logging configuration is not respected when passed to `php artisan test` on Laravel"
### Description:

PHPUnit logging configuration is not respected when passed to Laravel's `php artisan test`.

### Steps To Reproduce:

In my `phpunit.xml` I have:

[code]

If I run `phpunit`, at the end I get a coverage report in the shape of:

[code]

If I run `php artisan test` instead, I only get:

[code]

`php artisan test --coverage-text` doesn't work either, even though the default output f

[2020-08-25 17:50] nunomaduro commented on #143
Did you try to debug this @ragulka ?

[2020-08-25 17:56] ragulka commented on #143
@nunomaduro not really, I'm not even sure where to start

[2020-08-25 18:01] nunomaduro commented on #143
Try to isolate the test.

[2020-08-27 01:36] michaeldyrynda opened #149 "Collision 5.x can be installed in a Laravel 7 app"
Unfortunately, this leads to an error when running `php artisan test`

[code]

The project dependencies are otherwise met correctly, for dependabot to have marked this as a compatible upgrade.

[2020-09-07 17:26] Synchro opened #151 "PHP 8 compatibility?"
I gather that pest 0.31 [supports PHP 8.0-dev](https://github.com/pestphp/pest/blob/v0.3.1/composer.json#L20), however, pest depends on collision, and collision has a dep on PHP `^7.3` and won't install for me:

[code]

My composer config doesn't depend on any explicit version of collision, just:

[code]

I can't see any lurking dev branches of collision – how should I set this up?

[2020-09-07 18:40] nunomaduro commented on #151
Can you make a pull request on that? Please also update the GitHub tests files.

[2020-09-07 18:53] owenvoke commented on #151
It looks like Collision is already being tested against PHP 8, so I guess we'd just need to update the supported versions in the Composer JSON?

[2020-09-07 20:20] Synchro commented on #151
I tracked down what allows it to work for pest – `--ignore-platform-req=php` in the action definition makes composer ignore PHP version mismatches, which I didn't know. That will work fine for me, but I'll make PRs anyway.

[2020-09-07 20:45] Synchro commented on #151
OK, that didn't quite work. We can't quite get rid of the PHP platform ignore just yet as other things fail too:

[code]

I will fix and clean up.

[2020-09-08 22:00] Synchro commented on #151
I've submitted [a PR that should fix Problem 1](https://github.com/nunomaduro/mock-final-classes/pull/2).
Problem 2 should be fixed now that Laravel 8 has been released
No idea about problem 3!

[2020-09-09 21:03] rockwellll opened #153 "Laravel 8 breaks pest"
So i upgraded my Laravel 7 to 8, everything went smooth, but when i try to run `php artisan test` i get the following error

[code]

and the path of the error is
[code]

[2020-09-09 21:13] owenvoke commented on #153
What version of Collision are you using? 🤔 Sounds like it's v4 which doesn't support DotEnv 5. I think this was resolved in v5.0.0-BETA3. You can check with `composer info nunomaduro/collision`

[2020-09-09 21:22] rockwellll commented on #153
it is version `v5.0.0-BETA2`

[2020-09-09 21:30] markjaquith commented on #144
I got bitten by this too. It disregarded my `phpunit.xml` config which tells tests to run on another database, and it wiped out my local dev database with like 16 million rows 😭.

It seems to have been fixed in version `4.2.0`.

`composer require --dev "nunomaduro/collision ^4.2"`

[2020-09-09 21:49] owenvoke commented on #153
You should be able to run a `composer update` to update Collision to the stable v5.0.0 :+1:

If that doesn't work, I guess a `composer why-not nunomaduro/collision 5.0.0` will say why. 🤷🏻

[2020-09-09 22:39] nunomaduro commented on #153
@A7madXatab Please re-open the issue if upgrading to 5.0.0 fixes the problem.

[2020-09-09 22:39] #153 closed, assigned to nobody

[2020-09-10 07:52] rockwellll commented on #153
@nunomaduro  @owenvoke  upgrading to stable version  of collision `5.0.0` successfully solved the problem, not quite sure what happened there, must've been cache related issue, although i cleared the cache before.

Thanks

[2020-09-10 07:57] rockwellll commented on #153
note that also collision version `5.0.0` dosent work with laravel 7.x as it requires laravel 8.x, so i had to use collision version `5.0.0-BETA-2` to fix this issue, thought you might want to be aware of this. [check this out](https://stackoverflow.com/a/63203406/12860784)

[2020-09-14 17:44] mdeboer opened #155 "Why is support for symfony/console < "^5.0" dropped?"
I was wondering why support for symfony/console versions older than 5 was dropped once support for version 5 was added? I'm not aware of any immense BC changes that would lead to dropping support for older versions.

I would really like to use pestphp that uses this package with a Symfony 4 project and would be happy to contribute any changes required to get this working with at least symfony/cons

[2020-09-14 21:00] nunomaduro commented on #155
No plans. I don't use any framework / package with Symfony 4.

[2020-09-14 21:00] #155 closed, assigned to nobody

[2020-09-15 06:20] Krisell commented on #121
I also noticed this for a Laravel 8 project, and using `phpunit` directly now instead of `php artisan test` to avoid the slow-down.

[2020-09-17 14:18] mdeboer commented on #155
Thanks for closing this issue so quickly _without_ answering my question @nunomaduro. I guess I will figure it out myself and open a PR once I get it working.

[2020-10-09 15:19] staabm opened #160 "collision slows down the unit testrun by a factor of 2-3x"
we [integrated](https://github.com/redaxo/redaxo/pull/3910) collision into https://github.com/redaxo/redaxo

running the testsuite is now 2-3x slower then without collision.
is this a known problem?

tested on a linux VM with collision

[code]

without collision (just deleted the `printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"` line from phpunix.xml)

[code]

on my windows desktop it

[2020-10-09 15:49] owenvoke commented on #160
Yeah, this is a known problem. It's due to the use of `usleep()` (https://github.com/nunomaduro/collision/issues/121). This would be nice to be able to disable it either with a configuration option, or just by default. 🤷🏻

It does look quite a bit worse without the sleep as the test suite just jumps... but at the same time, running the Pest test suite (only 223 tests) jumps from 6 to 0.67 seconds.

[2020-10-29 22:57] nunomaduro commented on #151
Done.

[2020-10-29 22:57] #151 closed, assigned to nobody

[2020-10-29 22:57] nunomaduro commented on #149
You will need upgrade to PHPUnit 8.

[2020-10-29 22:57] #149 closed, assigned to nobody

[2020-12-03 16:53] andersespedalen opened #164 "Installing ^5.1 still requires laravel 8"
According to the changelog, the Laravel 8 requirement was reverted in v5.0.2 and replaced with added support for laravel 8 in v5.0.1

When installing ^5.1, It still seem to require Laravel 8

composer.lock

[code]

[2020-12-03 17:18] owenvoke commented on #164
That's a dev dependency, it has no effect on your dependencies. 👍🏻 It's used for running the tests.

[2020-12-03 17:51] andersespedalen commented on #164
Well, my dev server is still running laravel 7. Gives me this when I run my tests:

[code]

[2020-12-03 19:31] nunomaduro commented on #164
Collision works on Laravel 7. The artisan "test" command requires Laravel 8 tho.

[2020-12-03 19:31] #164 closed, assigned to nobody

[2020-12-16 20:01] JoelLarson commented on #160
I ran into this when upgrading an application with a few hundred unit tests. To help others in the meantime since this is a requirement on Laravel 8 to get the test artisan command, I have this workaround:

AppServiceProvider.php
[code]

This will disable the collision PHPUnit printer and use the one built into PHPUnit. It's not ideal but it saves quite a bit of time while the fix is being worked

[2020-12-16 20:14] staabm commented on #160
We also reverted to the phpunit default printer because of the performance penalty

[2020-12-16 20:26] nunomaduro commented on #160
@owenvoke We need to address this before PEST v1.0.

[2020-12-17 14:28] hotmeteor opened #165 "Option to hide exception titles"
In the PHPUnit `Style` class, it will set `showTitle` to `false` if it's an instance of a `AssertionFailedError` class:
https://github.com/nunomaduro/collision/blob/68e891f72def020a51ad2c87391ee5a0c226fb0b/src/Adapters/Phpunit/Style.php#L176

It would be great if there was a way to define in a service provider which additional exception titles you'd like to hide, ie. a custom exception from a pack

[2020-12-20 00:00] sefaYavuz opened #167 "PHP 8 issues"
When I'm trying to `composer update`:

[code]

Can we use the `symfony/console v5.2.1`?

[2020-12-20 00:05] owenvoke commented on #167
Collision requires `^5.0` of Symfony Console, so 5.2.1 will be used if it's available. Is something else requiring 5.1.x? 🤔

[2020-12-20 00:26] sefaYavuz commented on #167
I've deleted my vendor folder and rerun the `composer install` command which fixed my problem. So case closed!

[2020-12-20 00:26] #167 closed, assigned to nobody

[2020-12-20 18:28] owenvoke commented on #160
@nunomaduro, I'm not entirely sure how we address this issue. Either we remove the `usleep()` completely (making it jumpy), reduce the `usleep()` (still kind of jumpy), or have an option to disable it. I feel like disabling the `usleep()` by default and maybe having a static variable that can be configured would be good? 🤔 E.g.

[code]

<details>
<summary>Example diff of implementation</summary>

[2020-12-27 13:12] jaggy commented on #99
Hi there! I just wanted to show interest in this issue as well.

Using `php artisan test` seems to be a bit slower (35s) than using phpunit's default printer (16s). I'm not sure if it's related with the printer but it's the only connecting thread I see.

[2020-12-27 16:45] mikeerickson commented on #99
@zembrowski @jaggy @robsontenorio keep your eyes pealed for an upcoming release of printer which will have something similar to previous listener integrated with phpunit-pretty-result-printer

[2020-12-30 17:49] mikeerickson commented on #99
@AlexMartinFR Is this something that is still on your radar, or have you ditched the plans?  If this is still no your radar, that would be fantastic.

[2020-12-30 17:59] nunomaduro commented on #99
@mikeerickson I will probably tackle this myself before PEST v1, and before Laravel 9.

[2020-12-31 19:13] alexmartinfr commented on #99
Great new Nuno 👍

I've hit roadblocks when I tried to implement it properly, and haven't had a chance to try again yet.
Would it help if I shared what I tried and what I was stuck on?

[2021-01-16 14:53] jedney0901 opened #169 "TestCommand throwing error"
Hey guys,

Created a fresh Laravel app, tried to run migrations and received this error:

[code]
This line was throwing an error when trying to run migrate in a new Laravel app.

https://github.com/nunomaduro/collision/blob/stable/src/Adapters/Laravel/Commands/TestCommand.php#L103

Once I removed the extra comma it worked.

Cheers

[2021-01-16 16:18] owenvoke commented on #169
What PHP version are you using?

[2021-01-17 20:10] nunomaduro commented on #169
Collision requires PHP ^7.3 or PHP 8.

[2021-01-17 20:10] #169 closed, assigned to nobody

[2021-01-21 17:41] donakhseputa opened #170 "error unpexted ')'"
![image](https://user-images.githubusercontent.com/13846150/105389113-0bc92900-5c4a-11eb-880b-3e6974bbdb7e.png)

On path `src/Adapters/Laravel/Commands/TestCommand.php` method `handle` please remove sign `,` before line `))->setTimeout(null);` makes error, because last parameter should not have sign `,`

[2021-01-21 17:54] owenvoke commented on #170
What PHP version are you using? This is fine in [PHP 7.3 and later](https://wiki.php.net/rfc/trailing-comma-function-calls) (which is the requirement for Collision 5).

[2021-01-21 18:24] donakhseputa commented on #170
ahh, sorry I run laravel artisan with other php version.

[2021-01-21 18:24] #170 closed, assigned to nobody

[2021-01-23 17:31] weitzman commented on #155
I'm also interested in this compatibility, for the [Drush](https://www.drush.org) project (the CLI for Drupal)

[2021-01-27 13:39] robertoarruda opened #171 "Support to Parallel Testing in Lumen"
### Versions:
**Collision** Version: 5.3
**Lumen** Version: 8.2.1
**PHP** Version: 7.4.13

### Description:
The Parallel Test is not supported because the Lumen does not have the class "Illuminate\Foundation\Application"

### Steps To Reproduce:
![image](https://user-images.githubusercontent.com/6320754/105998769-bf3b7e80-608b-11eb-9c8f-049ee3cb5111.png)

[2021-01-27 17:52] nunomaduro commented on #171
No plans on adding parallel testing on Lumen.

[2021-01-27 17:52] #171 closed, assigned to nobody

[2021-02-08 16:33] oliworx opened #172 "v3.1 is requiring abandoned packages"
On my Laravel 6 project composer is warning :

[code]
This is caused by collision :

[code]

Please change to the **php-parallel-lint** packages or let Laravel 6 users install a newer version of **collision**.

Please consider that Laravel 6 is a LTS release and still used quite a lot.

[2021-02-11 09:08] owenvoke commented on #172
Closed by #173. 👍🏻

[2021-02-11 09:08] #172 closed, assigned to nobody

[2021-02-24 19:47] cyreb7 commented on #141
In Laravel, running `php artisan config:cache` with Collision installed in the project, then running tests causes our Mockery mocked exception handlers to falsely report no exception was thrown and fail our tests. Monkey patching https://github.com/nunomaduro/collision/pull/142 fixes the issue.

[2021-03-12 11:51] mabalashov commented on #171
**Versions:**
**Collision** Version: 5.3
**Lumen** Version: 8.2.3
**PHP** Version: 8.0.2

This issue occurs even while running `php artisan test`, in the non-parallel mode

So, the Collision doesn't work at Lumen at all
But you have a Lumen section in documentation: https://github.com/nunomaduro/collision#lumen-adapter

[2021-03-12 12:07] nunomaduro commented on #171
https://github.com/nunomaduro/collision/commit/8e003f0a20adeff692c505beb6ea58e122b1d921

[2021-03-12 12:08] nunomaduro commented on #171
Removed the Lumen adapter from the documentation.

[2021-04-29 09:27] mathieutu commented on #144
Actually this is more general. `php artisan test` doesn't care at all about the `phpunit.xml` file!

[2021-04-29 09:57] nunomaduro commented on #144
@lucavallin What collision version are you using?

[2021-05-12 21:54] SteveEdson commented on #144
Is this broken again, using `"nunomaduro/collision" v5.4.0`? Doesn't respect the coverage reporting options

[2021-06-11 15:22] Shizzen83 commented on #144
I've also encountered this issue (v5.4.0) on my project :confused:

`php vendor/bin/phpunit` result:
[code]

`php artisan test` result:
[code]

The Artisan way ignores my code coverage

`phpunit.xml`

[code]

[2021-07-26 20:27] nunomaduro commented on #165
Feel free to pull request an RenderlessTitle pull request. https://github.com/nunomaduro/collision/tree/stable/src/Contracts.

[2021-07-26 20:27] #165 closed, assigned to nobody

[2021-07-26 20:30] nunomaduro commented on #160
Fixed.

[2021-07-26 20:30] #160 closed, assigned to nobody

[2021-07-26 20:30] #143 closed, assigned to nobody

[2021-07-26 20:30] nunomaduro commented on #121
Fixed.

[2021-07-26 20:30] #121 closed, assigned to nobody

[2021-07-26 20:30] #99 closed, assigned to nobody

[2021-07-26 20:31] #123 closed, assigned to nobody

[2021-07-26 20:31] nunomaduro commented on #141
No plans to change this.

[2021-07-26 20:31] #141 closed, assigned to nobody

[2021-07-26 20:31] #144 closed, assigned to nobody

[2021-07-27 01:20] mikeerickson commented on #99
@nunomaduro was this implemented or did you decide to drop it?

[2021-08-24 21:06] bobbybouwmann opened #191 "Testing environment only set when specifying as an option"
Hi all,

I was tinkering around with running `php artisan test` and running `vendor/bin/phpunit`. I found out that they both run a different environment. `phpunit` automatically sets the env to `testing` where `php artisan test` uses the one that is specified in your `.env`, which is `local` by default. Because of this you clear your current database when running `php artisan test`.

I first looke

[2021-08-25 08:04] nunomaduro commented on #191
What collision version are you using?

[2021-08-25 12:07] bobbybouwmann commented on #191
I'm running `v5.6.0`, but also tried `v5.8.0`

[2021-08-25 12:14] nunomaduro commented on #191
Bobby, can you create a laravel application, open source it, and send me so I can test it out quickly?

[2021-08-25 15:16] bobbybouwmann commented on #191
Mmh, I was testing it out on a new repository and had no issues. Tried it again on my current project and it seems to work as expected again... Could have been cache somehow.

Anyway, it seems it's just a glitch on my side. Thanks for the support.

[2021-08-25 15:16] #191 closed, assigned to nobody

[2021-11-05 17:30] jasonvarga opened #195 "More frames in stack trace?"
Is it possible to show more than 2 lines of the stack trace? I'm using the PHPUnit adapter.

![image](https://user-images.githubusercontent.com/105211/140553403-bf7b156c-f0a5-4f07-a88a-71f448fa14e2.png)

(Sorry if this has already been answered)

[2021-11-22 10:47] felixdorn opened #198 "Better code highlighting"
![image](https://user-images.githubusercontent.com/55788595/142848032-d73936f4-56f0-4ca8-bf26-07ab569fef9b.png)

I've built https://github.com/felixdorn/tin for exactly these kind of tools.

I think it would clean up a lot the complicated `Highlighter` class as well.

The package makes it very easy to customize the output so adding stuff like arrows, line numbers  is very easy.

LMK if I should su

[2021-11-22 11:02] nunomaduro commented on #198
Interesting. Can you make a draft PR ,so I can see how it looks like?

[2021-11-22 13:43] felixdorn commented on #198
Yes, will do!

[2021-11-25 18:09] felixdorn commented on #198
`felixdorn/tin` requires PHP 8 and makes heavy use of the new `match` keyword.

How would we implement that as collision requires ^7.3 and all the solutions I thought about are quite complicated aka not worth the effort.

What do you think? When will collision stop supporting 7.3, 7.4 ?

[2021-11-25 23:34] nunomaduro commented on #198
You should target Collision v6, and the branch develop.

[2021-11-26 07:38] weretyczx opened #199 "Unicode print with error message"
Hi team, ​
this package is amazing!
but there a way to convert error messages to print with Unicode?

[code]

[2021-11-26 09:42] nunomaduro commented on #199
Not that I am aware of.

[2021-11-26 09:42] #199 closed, assigned to nobody

[2022-01-02 12:20] mustafaabduljalil opened #205 "Laravel 5.8 issue"
I got this error how can i fix it please i'm using laravel 5.8

production.ERROR: Class 'JakubOnderka\PhpConsoleColor\ConsoleColor' not found {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Class 'JakubOnderka\\PhpConsoleColor\\ConsoleColor' not found at /home/smssfhati/laravel/vendor/nunomaduro/collision/src/Highlighter.php:47)

Regards

[2022-01-02 19:10] nunomaduro commented on #205
Please use the latest version of Collision.

[2022-01-02 19:10] #205 closed, assigned to nobody

[2022-01-10 13:04] adedejiibrahim7 commented on #153
This was actually the problem. I updated collision to v5 and the problem is solved

[2022-01-10 18:02] nunomaduro commented on #195
@jasonvarga Yes - use the option `-v` in your console.

[2022-01-10 18:02] #195 closed, assigned to nobody

[2022-01-10 18:02] #198 closed, assigned to nobody

[2022-01-10 19:43] jasonvarga commented on #195
🤦 Of course! Wonderful, thank you.

[2022-01-13 10:38] pildit commented on #37
May I ask you why you don't support it ?

[2022-01-13 14:49] mxsxs2 commented on #144
`--coverage-text` of phpunit is still not printing out the coverage when using `php artisan test --coverage-text` in version 5.11.
The package behaves the same as @Shizzen83 described in his comment.

@nunomaduro is this desired behavior or do we need to change something to work?

[2022-01-30 05:40] fcno opened #210 "[9.x] Target [Illuminate\Contracts\Broadcasting\Factory] is not instantiable while testing If any report is configured."
- Laravel Version: 9.x
- PHP Version: PHP 8.1.1 (cli) (built: Dec 15 2021 10:31:43) (ZTS Visual C++ 2019 x64)
    Zend Engine v4.1.1, Copyright (c) Zend Technologies
    with Xdebug v3.1.2, Copyright (c) 2002-2021, by Derick Rethans

- Collision: ^6.0

Note: I opened this issue in Laravel Framework [#40714](https://github.com/laravel/framework/issues/40714), but they told me to open it here.

###

[2022-02-04 20:22] kbond opened #213 "Configure Phpunit\Style "ignoreFilesIn""
I know this was rejected in https://github.com/nunomaduro/collision/pull/183 but can I ask this be reconsidered? I have several paths I'd like to exclude to help make the failure output more useful to me. It doesn't make sense to add these to this repo directly (which appears to be the only option right now).

Maybe there could be a different way to configure? `tests/bootstrap.php` maybe?

[code]

[2022-02-05 08:49] owenvoke commented on #213
I think this would be better as mentioned as part of a PHP entry method, rather than as part of the `phpunit.xml` 👍🏻 It could be quite useful for things such as private app-specific exclusions.

[2022-02-05 16:42] kbond commented on #213
Cool, I'll put together a PR.

[2022-02-07 11:35] jnoordsij commented on #210
I'm having the exact same error with the following `phpunit.xml` report entry:
[code]

Any idea on when to expect a fix for this? Seems pretty relevant with the Laravel 9 release coming up 😅

[2022-02-07 11:55] nunomaduro commented on #210
https://github.com/laravel/laravel/pull/5800

[2022-02-07 11:55] #210 closed, assigned to nobody

[2022-02-07 14:01] LocalHeroPro opened #214 "Exception when using --stderr"
[code]
When I remove `--stderr` all going as expected.

laravel/framework: 8.82.0
nunomaduro/collision: 5.11.0

[2022-02-07 14:50] nunomaduro commented on #214
I am not familiar with that option. Feel free to pull request a fix.

[2022-02-07 14:50] #214 closed, assigned to nobody

[2022-02-07 14:55] LocalHeroPro commented on #214
So if it doesn't fixed, so why reason to closing issue?

[2022-02-09 13:47] alexander-schranz commented on #213
I'm asking in which cases we want to show the line from `vendor` directory? So maybe all from `vendor` should be excluded by default? So we always get the line which we are calling.

[2022-02-22 19:43] Eduardowm opened #217 "symfony/console requirement compatibility with Laravel 9"
Laravel 9.x right now it's requiring [symfony/console](https://packagist.org/packages/symfony/console) 6.0.0 but `nunomaduro/collision` package is asking for at least `symfony/console` 6.0.2, so they are not compatible right now.

The funny thing it's that on Laravel's migration page (8 to 9) it say to use `nunomaduro/collision` 6.1... I'm I doing something wrong?

Thanks!

[2022-02-22 20:05] #217 closed, assigned to nobody

[2022-02-22 20:05] nunomaduro commented on #217
Please ensure your composer json looks like so: https://github.com/laravel/laravel/blob/9.x/composer.json.

[2022-03-09 14:41] mad-briller opened #219 "Reportable absent on the Laravel exception handler replacement."
Hey there.

In Laravel 9 the `reportable()` and `renderable()` methods were added to Laravel's ExceptionHandler, allowing packages to have an simpler time extending the application exception handler aswell as making the system more flexible in general.

These methods were not added to Laravel's ExceptionHandler contract, meaning they are not necessary to implement. However, when using these method

[2022-03-14 19:28] thorst opened #220 "Composer errors related to symfony/console"
Please let me know if I should post for help elsewhere, I'm somewhat new to composer. I'm trying to upgrade from Laravel 8 to 9, essentially updating the below in `composer.json`:

"laravel/framework": "^9.0",
"symfony/console":"^6.0",
"nunomaduro/collision": "^6.0",

I get the following error when trying to update the packages:
[code]

I tried downgrading the requirement to 5.0 but then Laravel 9

[2022-03-14 20:47] nunomaduro commented on #220
This issue tracker is for Collision internal bugs only.

[2022-03-14 20:47] #220 closed, assigned to nobody

[2022-03-14 21:27] thorst commented on #220
Do you have a lead on where I can get help? Or is stack overflow my best bet?

[2022-03-15 10:51] WalterWoshid opened #221 "facade/ignition-contracts abandoned?"
This package uses `facade/ignition-contracts` as a dependency and it seems like it is abandoned. Why?

Because [solutions](https://flareapp.io/docs/solutions/adding-custom-solutions) aren't working, [see this issue](https://github.com/spatie/laravel-ignition/issues/70). There is already a [pull request](https://github.com/facade/ignition-contracts/pull/7), but it seems [the package is abandoned](h

[2022-03-15 14:33] bastien-phi opened #222 "Database refresh not working when using pest and parallel testing"
Not sure this is the right repo for this bug report but it looks like running
[code]
does not recreates the test databases.

I'm using
[code]

[2022-03-16 07:31] bastien-phi commented on #222
Closing this as I located the issue. See https://github.com/pestphp/pest/issues/501

[2022-03-16 07:31] #222 closed, assigned to lukeraymonddowning

[2022-03-22 20:50] vaites opened #223 "Printer doesn't respect @testdox annotation"
Working with Laravel tests I found that the `artisan test` command doesn't respect the [TestDox functionality](https://phpunit.readthedocs.io/en/9.5/textui.html#testdox), while PHPUnit does. I think the descriptions should show the `@testdox` value if it has been defined or, at least, allow users to enable it using the `--testdox` flag.

Steps to reproduce:

1. Install Laravel (`composer create-pr

[2022-03-22 22:53] vaites commented on #223
I tried only with Laravel, but using the printer _standalone_ will cause the same problem.

[2022-03-23 09:20] owenvoke commented on #223
I'd assume this is probably intentional, but not sure. 🤔 Would probably make sense to use the TestDox name if it exists and `--testdox` is used.

[2022-03-23 09:28] vaites commented on #223
I also think the best option is to add `--testdox` to the Artisan command. That way the current behaviour is not changed. If you want I can add it and make a PR...

[2022-03-30 15:28] #219 closed, assigned to nobody

[2022-04-13 20:30] vaites commented on #223
After digging into the code I found that there's no need to fix anything. Adding the `--testdox` option to PHPUnit command is enough and as the `artisan test` command uses `argv`, the expected result can be obtained just running `artisan test --testdox`.

[2022-04-13 20:30] #223 closed, assigned to nobody

[2022-06-15 12:31] mortenscheel opened #226 "Any interest in displaying individual times?"
Hi,
I've forked the project and [added times](https://github.com/mortenscheel/collision/commit/269051e420c6c7f3d88d84936018370d7e79bc7e) to the output of each individual testcase.
Would you be interested in a PR? If so I'll make the extra output configurable (environment variable probably) and add tests.

[2022-06-15 12:35] nunomaduro commented on #226
Can you show a screenshot?

[2022-06-15 12:49] mortenscheel commented on #226
Sure. Currently it looks like this, but it's just a proof of concept.
![image](https://user-images.githubusercontent.com/6514342/173830715-6c719c46-eab1-4ace-84fc-b79b9d62bc1e.png)

Ideally I think it should be configurable. Maybe with a minimum threshold before times are shown.

[2022-06-15 12:55] nunomaduro commented on #226
Ok - you can do a pull request.

[2022-06-15 12:55] #226 closed, assigned to nobody

[2022-06-21 09:33] tminich opened #227 "[Feature Request] Override console verbosity for early exceptions"
I was running into an issue where an exception was thrown early in the Laravel boot process (routing setup). Unfortunately, for whatever reason, console verbosity (from the artisan command line) doesn't seem to be set at this point so `Writer::renderTrace` always skips vendor frames at this point and stops after one frame.

I'm not sure this package can do anything about the lack of information, s

[2022-06-22 05:26] joelmellon opened #228 "Readme clarification regarding inclusion with Laravel"
From the readme:

and

If it's "included on Laravel" why does it need to be require'd as well? Can you clarify what "included" means? Supported by Laravel, maybe?

[2022-06-22 08:32] owenvoke commented on #228
Yeah, this can probably be removed as it's been included in newer Laravel versions (and added retrospectively to old Laravel versions) for a while. 🤷🏻 Feel free to open a PR, not sure if this was intentionally just to show how to install a specific version. 🤔

[2022-06-23 01:40] joelmellon commented on #228
@owenvoke Do you know when Laravel started including it?

[2022-06-23 07:56] owenvoke commented on #228
Sorry, I'm not entirely sure about that. 🤷🏻

[2022-06-23 08:18] #228 closed, assigned to nobody

[2022-06-23 08:20] joelmellon commented on #228
It's all good, I was just going to update the readme with which versions would need manual composer installation.

[2022-08-02 21:15] IllyaMoskvin commented on #227
I'm running into a similar issue, but I think it might be a Laravel issue that's present even without this package.

I'm currently upgrading one of our applications to Laravel 8 and PHP 8.1, and I've run into an error on the `php artisan package:discover` step of `composer dump-autoload`. I'm having trouble debugging what's happening because the relevant "vendor frames" are hidden.

When I try to

[2022-08-15 07:18] tminich commented on #227
It's technically not ignored, the exception is thrown before the actual command code with all it's scaffolding (including parsing of the command line options) is run, so verbosity level is simply not available at that time.

[2022-09-13 05:58] nunomaduro commented on #213
I think is a good idea, yet needs to be something like:

[code]

[2022-09-13 05:58] #213 closed, assigned to nobody

[2022-09-13 05:58] nunomaduro commented on #221
That's fixed.

[2022-09-13 05:58] #221 closed, assigned to nobody

[2022-09-13 05:58] nunomaduro commented on #227
Not sure how to fix this...

[2022-09-13 05:58] #227 closed, assigned to nobody

[2022-09-13 07:32] tminich commented on #227
Configuration option 'always_verbose' maybe?

[2022-10-16 20:59] Bilge opened #234 "Printer: immediate feedback with unbuffered output"
Unlike PHPUnit, and most PHPUnit printers, Pest does not emit output after each test in a test case, but rather, it buffers the entire collection of tests in a test case until the whole test file has completed. This is presumably because it wants to emit PASS/FAIL on the header line for the test case, which it can't know until all sub-tests have finished, but the upshot of this is there is no outp

[2022-10-25 10:17] sebdesign opened #235 "Exception stack trace is different between `phpunit` and `php artisan test` commands"
- Collision version: 6.3.1
- PHPUnit version: 9.5.25
- Laravel Version: 9.36.2
- PHP Version: 8.0.22
- Database Driver & Version: MySQL 5.7

I'm noticing some large differences between the printed stack traces when running tests with the `phpunit` command and `php artisan test`, using the verbose flag.

Most of the time i'm running `php artisan test` but the exception stack trace is not helpful at

[2022-10-29 13:41] Bilge opened #236 "Coverage output suppressed"
`phpunit --coverage-text` outputs coverage information to the console, but with `NunoMaduro\Collision\Adapters\Phpunit\Printer`, it does not.

[2022-11-03 15:52] devloberto opened #237 "Access Laravel config inside phpunits setUpBeforeClass"
Calling Laravels `config()` function or the getter `Config::get` inside a `setUpBeforeClass` method that overwrites `\PHPUnit\Framework\TestCase::setUpBeforeClass` leads to the following output:
![image](https://user-images.githubusercontent.com/41804849/199768226-65788667-95f7-4144-8e4f-c415e4b3b1a4.png)

For instance:
[code]
or
[code]

[2022-11-06 18:59] nunomaduro commented on #237
Feel free to make a pull request that addresses that issue.

[2022-11-06 18:59] #237 closed, assigned to nobody

[2022-11-22 10:31] mortenscheel opened #238 "PhpUnit test running in separate process can have confusing error output"
Let me start by saying that this is kind of a weird corner case, and I am 100% to blame for ending up in this situation. And I don't know if Collision could (or should) display this type of error in a different way to avoid confusion, but I'll post this in case you want to.

Here's a simple test that demonstrates the issue
[code]

Normally PhpUnit doesn't care if you write to STDERR during tests,